body{
    background-color: darkgray;
    margin-top: 15px;
    margin-bottom: 15px;
  
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .numeros {
    font-size: 100px;
}

.container #espaco {
    background-color: black;
}

.bloco{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
  
}

.titulo {
    display: flex;
    font-size: 28px;
    color: white;
    justify-content: center;

}

.bloco input{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 7px;

}
